<!-- Home Page -->
<!doctype html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <title>SlamCalc</title>
  	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
      <!-- Bootstrap core CSS -->
  	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  	<link href="../resources/css/my_style.css" rel="stylesheet">
  </head>
  <body background = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSiNqKQoPWPtEYr3Ro3YeZQZE7TZC3tb6AMshAekJL-XRoHk_KoyQ">
	<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark " >
	  <a class="navbar-brand" href="home.html">
		<img class="rounded-circle" src="../resources/img/slamcodelogo.png" alt="" width="30" height="30">
	  </a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse " id="navbarText">
		<ul class="navbar-nav mr-auto">
		  <li class="nav-item active">
			<a class="nav-link" href="home.html"><b>HOME</b></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="stats.html"><b>STATS</b> <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="host.html"><b>HOST</b></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="judge.html"><b>JUDGE</b></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="http://localhost:4000/poetinfo"><b>POET INFO</b></a>
		  </li>
		</ul>
		<!-- <div class="form-inline my-2 my-lg-0 ">
			<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
		</div> -->
	  </div>
	</nav>
	<div class="container" align="middle" >
		<br/>
		<h1>Welcome to Slam Calc!</h1>
    <hr/>
		<br/>
		<img src="../resources/img/slamcodelogo.png" class="img-rounded" alt="Logo" width="259" height="194" style="color:#B0C4DE"/>
		<br/>
		<br/>
		<h2>&#10072; USER Login &#10072;</h2>
	<div class="boxed" align = "center">
		<a href="host.html" style="text-decoration: none">
			<h2 class="text" style="color:black">&#10070; <u>HOST</u></h2>
		</a>
	</div>

	<div class="boxed" align = "center">
		<a href="judge.html" style="text-decoration: none">
			<h2 class="text" style="color:black"> &#9878; <u>JUDGE</u></h2>
		</a>
	</div>
  <hr/>
    <body>
      <!-- <h4>&#9826; Let us Know what you think &#9826;</h4>
      <p> Leave us a message and we will contact you ASAP!</p> -->

          <div class="container" align = "center">
              <h4>&#9826; Contact Us &#9826;</h4>
              <p>&#9990; <b>Phone:</b> <i><u>(303)-444-4444</u></i></p>
              <p>&#9993; <b>Email:</b> <u><i>siera.camacho@colorado.edu</u></i></p>
              <p><b>&#127760; Location:</b> <i><u>123 Slam St Code, CO </u></i></p>
              <hr/>
              <div class="column" align = "center">
                <div style="text-align:center">
                  <h4>&#9826; Let us Know what you think &#9826;</h4>
                  <p> <i>Leave us a message and we will contact you ASAP!<i></p>
                  <!-- <label for="fname"><b><u>Name</b></u></label>
                  <input type="text" id="name" name="name" placeholder="Enter Name.."> -->
                </div>
                  <!-- <label for="lname"><b><u>Last Name</b></u></label>
                  <input type="text" id="lname" name="lastname" placeholder="Last Name.."> -->
                  <label for="email"><b>&#9993; <u>EMAIL</b></u></label>
                  <input type="text" id="email" name="email" placeholder="Enter Email..">
                  <label for="subject"><b>&#9998; <u>Message</b></u></label>

                  <textarea id="subject" name="subject" placeholder="Leave Us A Message or Concerns.." style="height:170px"></textarea>
                  <input type="submit" value="SUMBIT">
              </div>
          </div>
    </body>
		<br/>
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
